<div class="welcome">
  <div class="intro">
    <h1>trumblr.</h1>
    <h5>come for what you seek.<br>stay for what you find.</h5>
    <div><br>
      <% if !user_signed_in? %>
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary" %>
      <% end %><br><br>
    </div>
    <div>
      <% if user_signed_in? %></p>
        <%= link_to "Make Post", new_post_path, class: "btn btn-primary" %>
      <% end %>
    </div><br>
    <h2>What? Where? Who?</h2>
    <p>Trumblr is your expressions and thoughts.</p>
    <p>It's what you make it wherever you are.</p>
    <p>Blog, share and comment. Join the Trumblr community.</p>
  </div>
</div>
