<div class="welcome">
  <div class="intro">
    <h1>trumblr.</h1>
    <h5>come for what you seek.<br>stay for what you find.</h5>
    <div><br>
      <% if !user_signed_in? %>
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary" %>
      <% end %><br><br>
    </div>
    <div>
      <% if user_signed_in? %></p>
        <%= link_to "Make Post", new_post_path, class: "btn btn-primary" %>
      <% end %>
    </div><br>
    <h2>What? Who? Where?</h2>
    <h5>Trumblr is your expressions, your thoughts.<br>
      It's what you make it wherever you are.<br>
      Blog, share and comment. Join the Trumblr community.</h5>
    <p></p>
  </div>
</div>
