<div class="blogger_page">
  <div id=page_wrapper>
    <div id="profile_image">
      <%= image_tag "profile.jpg" %>
    </div>
  </div>

  <div id="content">
    <div class="blogger_intro">
      <h2>Hi there! It's SunnyDay!</h2>
      <p>Chocolate cake sesame snaps marshmallow liquorice jelly. Lollipop lemon drops liquorice. Wafer sugar plum pudding. Powder cake bonbon tootsie roll pie jelly-o jelly chocolate bar cake. Jubes topping toffee pie muffin biscuit tiramisu. Sweet roll bonbon jelly-o halvah toffee dragée marzipan sweet roll. Lemon drops jelly-o donut apple pie. Donut cotton candy toffee jujubes jelly beans pastry muffin cupcake.</p>
    </div>
</div>
