<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi there! It's SunnyDay!
    <p> Chocolate cake sesame snaps marshmallow liquorice jelly. Lollipop lemon drops liquorice. Wafer sugar plum pudding. Powder cake bonbon tootsie roll pie jelly-o jelly chocolate bar cake.</p>  
  </div>
